#Ignore everything
*

!.gitignore
!*.nix
!*.lock
!*.org
!*.el
!*h
!LICENSE
!.github
!.github/*

!nixos
!nixos/home_modules
!nixos/*.nix
!nixos/*.el
!nixos/home_modules/*.nix


!modules
!modules/*
!modules/test/*.nix
!modules/default.nix
!modules/desktop
!modules/desktop/*.nix
!modules/editors
!modules/editors/*.nix